<!DOCTYPe html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport",content="wdith=device-width, initial scale=1.0">
    <title>about us</title>
</head>
<body style="margin:0; font-family: Arial, san-serif; background-color: #f4f4f4;">
    <div style="background-color: #333; padding: 15px">
        <a href="home.html" style="color: white; text-decoration :none; margin-right: 20px;">Home</a>   
        <a href="aboutus.html" style="color: white; text-decoration: none;">About us</a>
    </div>

   <!-- about us -->
   <div style="padding: 20px; max-width: 800px; margin: auto; background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); text-align:center;">
    <h1 style="color: #4CAF50;">Our restuarant</h1>
    <p> welcome to our restuarant, where we serve fresh and delicious meals made with love .we guarantee a delightful experience.</p>
   </div>

</body>
</html>   