<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width, initial-scale=1.0">
    <title>my homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="margin:0;font-family:arial,sans serif;,background-color:#f4f4f4;color:#333;">
    <div class ="main">
        <div syle="text-align:center;padding:50px;background-color:#4CAF50;color:white;">
           <h1>welcome to my homepage</h1>
           <p>we provide high quality services to make your experience better.</p>
        </div>
    </div>
</body>
</html>        