body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f7efef;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
    text-align: center;

}
.main div{
    background: black;
    padding: 30px;
    
}

.main h1{
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.main p{
    font-size: 1.1rem;
    line-height: 1.5;
}